<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
  <h1>Current user: {{ username }}</h1>
  <hr>

  <table>
    <thead>
      <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Hostel</th>
        <th>Room</th>
        <th>Mess</th>
        <th>Mess Preference</th>
        <th>Department</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>